# Node modules
node_modules/

# Logs
logs/
*.log

# Environment files
.env

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Coverage
coverage/

# Local databases
*.sqlite
*.db

# npm/yarn
package-lock.json
yarn.lock
